<html>

<head>
    <meta charset="UTF-8">
    <title>File Manager</title>
    <script src="../js/vue.js"></script>
    <script src="../js/element-ui.js"></script>
    <script src="../js/axios.min.js"></script>
    <link rel="stylesheet" href="../css/element-ui.css"/>

    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }
    </style>
</head>

<body>
<div id="file">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-container>
            <el-main>
                <el-alert
                        title="文件格式支持 视频 图片 音频"
                        type="warning"
                        :closable="false">
                </el-alert>
                <br>
                <el-upload
                        class="upload-file"
                        action="./upload"
                        multiple
                        :limit="1"
                        :show-file-list="false"
                        :on-success="refresh"
                >
                    <el-button size="small" type="primary">点击上传</el-button>
                </el-upload>
                <br>
                <el-table
                        :data="allFiles"
                        border
                        style="width: 100%">
                    <el-table-column
                            fixed
                            prop="fileName"
                            label="文件名"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="fileURL"
                            label="文件URL"
                    >
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>

</div>
</body>

<script>
    // 0408:Egg: 统一获取hostname 而不是在 Handmade 啦 如果是 https 手动改改
    var full_adress = "http://" + document.location.hostname + ":1901";

    var vue = new Vue({
        el: '#file',
        data: {
            allFiles: [],
            dialogFormVisible: false,
            formLabelWidth: '120px'
        },
        created() {
            this.getFiles()
        },
        methods: {
            getFiles() {
                const _this = this
                axios.get(full_adress+'/FileManager/FilesList').then(function (resp) {
                    _this.allFiles = resp.data
                })
            },
            upload(){

            },
            refresh(response, file, fileList){
                window.location.reload();
            }
        }

    })


</script>

</html>