<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
    <link rel="stylesheet" href="css/element-ui.css"/>
    <style>

        .el-header {
            background-color: #455A64;
            color: white;
            text-align: center;
            line-height: 60px;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

        }

    </style>
</head>
<body>
<div id="main">
    <el-container>
        <el-header>LiteEditor</el-header>
        <el-main>
            <el-card class="box-card">
                <el-row>
                    <el-button onclick="newIns(1)" type="primary">添加实例 [单人演示]</el-button>
                    <el-button onclick="newIns(2)" type="primary">添加实例 [两人演示]</el-button>
                    <el-button onclick="newIns(4)" type="primary">添加实例 [四人演示]</el-button>
                </el-row>
            </el-card>
            <br>
            <el-card class="box-card">
                <p>Made By EggOxygen</p>
            </el-card>
            <br>
            <el-card class="box-card">
                <p>LiteEditor Version: <span th:text="${version}"></span></p>
            </el-card>
        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#main'
    })

    function newIns(Num) {
        window.location.href = "/instance/newInstance" + "?Num=" + Num

    }
</script>
</html>
